.main__delBtn {
    background-color: rgb(172, 175, 178);
    box-shadow: 2px -2px 9px -1px #773431;

}

.table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table__caption {
    padding: 5px;
    color: rgb(113, 60, 60);
}

.table__row:hover {
    color: rgb(126, 24, 24);
}

.table__cell {
    border: 1px solid #2a2929;
    text-align: left;
    padding: 10px;
    background-color: rgb(149, 171, 172);
}